* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f3d9;

}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: clamp(70px, calc(100px - 2vw), 100px);
    flex-shrink: 1;
    background-color: #030027;
    color: white;
    padding: 0 40px;


}

header > h1 {
    font-size: clamp(1rem, calc(2rem - 1vw), 2rem);

}


nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    flex-grow: 0;
    /*flex-shrink:0;*/
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 40px;
}

nav ul li:last-child {
    margin-right: 0; /* Geen marge voor het laatste item */
}

nav a {
    text-decoration: none;
    color: white;
    font-size: clamp(14px, calc(22px - 0.5vw), 22px);
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 150px;
    text-align: center;

}

.intro h1, h3 {
    max-width: 920px;
    font-size: clamp(1rem, calc(2rem - 1vw), 2rem);
}


main {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

main > article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 280px;
    height: 350px;
    margin: 20px;
    padding: 20px;
    background-color: #c16e70;
}

p {
    font-size: clamp(12px, calc(20px - 0.5vw), 18px);
    text-align: center;
}